/* CSS Document */

#passwordstrength
{
        height:10px;
        display:block;
        float:left;
}
.strength0
{
        background:#ff0000;
}
.strength1
{
        width:25px;
        background:#ff0000;
}

.strength2
{
        width:50px;    
        background:#ff5f5f;
}

.strength3
{
        width:70px;
        background:#56e500;
}

.strength4
{
        background:#4dcd00;
        width:100px;
}

.strength5
{
        background:#399800;
        width:250px;
}